################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Training Tools/FileContentIndex
/.vs/Training Tools/v17/.suo

